<!DOCTYPE html>
<html>
    <head>
        <link href="../style/test.css" rel="stylesheet">
        <title>Connecté</title>
    </head>
    <body>
        <p>Voici vos informations</p>
    </body>
</html>